<section class="profile-sidebar">
  <% if (user.id === Slipmat.currentUser.id) { %>
    <a href="#/users/<%= user.get("slug") %>/edit" class="soft">
      Edit Profile
    </a>
    <hr>
  <% } %>
  <% if (user.has("location")) { %>
    <span><%= user.escape("location") %></span>
  <% } %>
  <span>Joined on <%= user.get("created_at") %></span>
  <hr>

  <!-- placeholder -->
  <h2>Contributor Stats</h2>
  <ul class="sidebar-items">
    <li>
      In Collection
      <small class="sidebar-item-count">
        <%= user.collectedRecords().length %>
      </small>
    </li>
    <li>
      In Wantlist
      <small class="sidebar-item-count">
        <%= user.wantedRecords().length %>
      </small>
    </li>
    <li>
      Contributions
      <small class="sidebar-item-count">
        <%= user.numContributions() %>
      </small>
    </li>
    <li>
      Comments
      <small class="sidebar-item-count">
        <%= user.numComments() %>
      </small>
    </li>
  </ul>
</section>

<section class="profile-main">
</section>
