<header class="show-header group">
  <section class="record-main">
    <section class="show-info group">
      <figure class="record">
        <img src="<%= artist.image() %>" class="cover">
      </figure>
      <div class="info">
        <h2 id="name">
          <b><%= artist.escape("name") %></b>
        </h2>
        <% if (artist.has("real_name")) { %>
          <div class="show-attr group" id="label">
            <span class="key">
              Real Name:
            </span>
            <span class="value">
              <%= artist.escape("real_name") %>
            </span>
          </div>
        <% } %>
        <% if (artist.has("profile")) { %>
          <div class="show-attr group" id="country">
            <span class="key">
              Profile:
            </span>
            <span class="value">
              <%= artist.escape("profile").replace(/\n/g, "<br>") %>
            </span>
          </div>
        <% } %>
      </div>
    </section>
  </section>

  <section class="record-sidebar">
    <section class="release">
      <h3>Artist</h3>
      <div class="release-container">
        <span>
          <a href="#/artist/<%= artist.id %>/edit" class="link">
            Edit Artist
          </a>
        </span>
      </div>
    </section>
    <section class="contributors">
      <h3>Contributors</h3>
      <div class="contributors-container">
      </div>
    </section>
  </section>
</header>

<nav class="content-tabs group">
  <div class="content-pages">
    1 – 50 of 50
  </div>
  <small class="prev-page">
    <span class="prev-page">
      Prev
    </span>
  </small>
  <small class="next-page">
    <a href="#" class="next-page">
      Next
    </a>
  </small>
  <div class="content-sort">
    <label for="content-sort" id="content-sort">Sort</label>
    <select
      class="form-mini"
      name="content-sort"
      id="content-sort">
      <option value="created_at,asc">Latest Additions</option>
    </select>
  </div>
</nav>

<section class="content-records group">
</section>

<section class="record-main">
  <section class="comments">
    <h3>Reviews</h3>
    <form id="new-comment">
      <button class="button button-main button-data button-comment">
        Add Review
      </button>
    </form>
    <div class="comments-container">
    </div>
  </section>
</section>
