<figure class="record">
  <a href="#/records/<%= model.id %>">
    <img src="<%= model.image() %>" class="cover">
  </a>
  <a href="#/artists/<%= model.artist().id %>" class="artist">
    <b><%= model.artist().escape("name") %></b>
  </a>
  <a href="#/records/<%= model.id %>" class="title">
    <%= model.escape("title") %>
  </a>
</figure>
