<figure class="form record-form">
  <div class="form-header">
    <%= record.isNew() ? "Add New Record" : "Edit Record" %>
  </div>
  <div class="form-main record-form-main">
    <label for="record_artist">
      <b>Artist</b> (required)
      <a
        href="#"
        class="new-selector"
        data-name="record[artist_name]"
        data-id="record_artist">New artist</a>
    </label>
    <select
      name="record[artist_id]"
      id="record_artist"
      class="form record-form">
    </select>

    <label for="record_title"><b>Title</b> (required)</label>
    <input
      type="text"
      name="record[title]"
      value="<%= record.get("title") %>"
      id="record_title"
      class="form record-form">

    <label for="record_label">
      Label
      <a
        href="#"
        class="new-selector"
        data-name="record[label_name]"
        data-id="record_label">New label</a>
    </label>
    <select
      name="record[label_id]"
      id="record_label"
      class="form record-form">
      <option value="">None / Unknown</option>
    </select>

    <label for="record_cat_no">Cat #</label>
    <input
      type="text"
      name="record[cat_no]"
      value="<%= record.get("cat_no") %>"
      id="record_cat_no"
      class="form record-form">

    <label for="record_year">Year</label>
    <input
      type="text"
      name="record[year]"
      value="<%= record.get("year") %>"
      id="record_year"
      class="form record-form">

    <label for="record_image_url">Image URL</label>
    <input
      type="text"
      name="record[image_url]"
      value="<%= record.get("image_url") %>"
      id="record_image_url"
      class="form record-form">

    <label for="record_notes">Notes</label>
    <textarea
      name="record[notes]"
      id="record_notes"
      class="form record-form"><%= record.get("notes") %></textarea>

    <button class="button button-data">
      <%= record.isNew() ? "Add Record" : "Update Record" %>
    </button>
  </div>
</figure>
