<figure class="form record-form">
  <div class="form-header">
    <%= record.isNew() ? "Add New Record" : "Edit Record" %>
  </div>
  <div class="form-main record-form-main">
    <figure class="form-image">
      <img src="<%= record.image() %>" id="form-image">
    </figure>

    <button class="button button-data button-form" id="upload">
      <%= record.isNew() ? "Upload Album Cover" : "Update Album Cover" %>
    </button>

    <input
      type="file"
      class="button button-data button-form"
      id="image-form">

    <hr>

    <label for="record_artist">
      <b>Artist</b> (required)
      <% if (record.isNew()) { %>
        <a
          href="#"
          class="new-selector"
          data-name="record[artist_name]"
          data-id="record_artist">New artist</a>
      <% } %>
    </label>
    <select
      <% if (!record.isNew()) { %> disabled <% } %>
      name="record[artist_id]"
      id="record_artist"
      class="form record-form">
      <option value=""></option>
    </select>

    <label for="record_title"><b>Title</b> (required)</label>
    <input
    <% if (!record.isNew()) { %> disabled <% } %>
      type="text"
      name="record[title]"
      value="<%= record.get("title") %>"
      id="record_title"
      class="form record-form">

    <label for="record_label">
      Label
      <a
        href="#"
        class="new-selector"
        data-name="record[label_name]"
        data-id="record_label">New label</a>
    </label>
    <select
      name="record[label_id]"
      id="record_label"
      class="form record-form">
      <option value="">None / Unknown</option>
    </select>

    <label for="record_country">Country</label>
    <select
      name="record[country_id]"
      id="record_country"
      class="form record-form">
      <option value="">None / Unknown</option>
    </select>

    <label for="record_cat_no">Cat #</label>
    <input
      type="text"
      name="record[cat_no]"
      value="<%= record.get("cat_no") %>"
      id="record_cat_no"
      class="form record-form">

    <label for="record_year">Year</label>
    <input
      type="text"
      name="record[year]"
      value="<%= record.get("year") %>"
      id="record_year"
      class="form record-form">

    <label for="record_notes">Notes</label>
    <textarea
      name="record[notes]"
      id="record_notes"
      class="form record-form"><%= record.get("notes") %></textarea>
  </div>
</figure>

<figure class="form tracklist-form">
</figure>

<figure class="form record-form">
  <div class="form-main record-form-main">
    <button class="button button-data">
      <%= record.isNew() ? "Add Record" : "Update Record" %>
    </button>
  </div>
</figure>
