<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Slipmat</title>
  <link rel="icon" href="<%= asset_path("favicon.ico") %>" />
  <link rel="icon" sizes="16x16" href="<%= asset_path("favicon-16x16.png") %>" />
  <link rel="icon" sizes="32x32" href="<%= asset_path("favicon-32x32.png") %>" />
  <link rel="icon" sizes="96x96" href="<%= asset_path("favicon-96x96.png") %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="cK98kjkbEPPomsd2yeDMsQkwZiKA8zECZCYfSTZIOys" />
</head>
<body>
<%= yield %>
</body>
</html>
